* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
  background-color: yellowgreen;
}

.header {
  background-color: blue;
  text-align: center;
  padding: 20px;
}
